.front .blog-view
  padding: $m/2
  +breakpoint('sm')
    padding: $m
.blog-view__item
  margin-bottom: $m
.blog-view__item.unpublished
  background-color: #f5f5f5
  padding: $m
  position: relative
  &:after
    content: "not public"
    font-size: .65em
    font-family: $font_auxiliar
    text-transform: uppercase
    position: absolute
    top: $m/3
    right: $m/3
.blog-view__title
  margin: $m/8 0 0
  line-height: 1.2
.blog-view__subtitle
  margin: 0 0 0 $m/4
.blog-view__title:last-child
  margin-bottom: $m/4
.blog-view__titles
  +links(#118cb0, $color_text, .25s ease)
.blog-view__meta
  margin-top: $m/4
  font-family: $font_headers
  float: none !important
  font-size: .85em
.blog-view__author:not(:empty)
  color: $palette_grey
  margin-right: $m/3
.blog-view__date
  font-size: .85em
  font-family: $font_auxiliar
.blog-view__teaser
  +links($palette_blue, black, .2s ease)
  margin-bottom: 0 !important
  p:last-child
    margin-bottom: 0 !important

.tags-page__title .tag
  opacity: .9

.tags-page__description
  margin-bottom: $m
  max-width: 50%
  text-align: justify

.blog-view__tags
  margin: 0 0 $m/4
  text-transform: uppercase
  font-size: .7em
  font-family: monospace
  display: inline-block
  position: relative

.blog-view__tag,
.blogtext__tag
  display: inline !important
  margin-right: $m/2
  padding: 2px 8px
  +border-radius(3px)

.blog-view__tag.t
  background-color: #eee
.blog-view__tag.f
  background: $palette_blue
  +links(white, $color_text, .25s ease)
