.excerpt__title
  font-size: 1.5em
  margin: 0
.excerpt__src_title
  margin-bottom: 0 !important
.excerpt__subtitle
  margin: 0 0 $m/2
.excerpt-wrapper
  padding: $m

.excerpt__publisher,
.excerpt__author
  font-family: $font_auxiliar
  margin: $m/4 0

.excerpt__body
  margin: $m*2 0
  font-size: 1.2em

.book__unpublished
  +date

.excerpt__meta-image.lightbox
  position: fixed
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  z-index: 1000
  background: rgba(white, .65)
  text-align: center
  overflow: hidden
  img
    float: none !important
    position: relative
    top: $m*2
    +box-shadow(0 0 10px rgba(black, .75))
    max-height: calc(100vh - #{$m*4})
    width: auto
    &:hover
      cursor: se-resize !important

.excerpt__editors
  font-size: .8em
.excerpt__src_title
  margin-bottom: $m/2 !important
  font-size: .8em
  font-family: $font_auxiliar
