.book__title
  font-size: 1.5em
  margin: $m 0 0
.book__subtitle
  margin: 0 0 $m/2
.book-wrapper
  padding: $m/2
  +breakpoint('sm')
    padding: $m

.book__publisher,
.book__author
  font-family: $font_headers
  margin: $m/4 0

.book-header
  background: $palette_grey
  color: $palette_orange
  font-size: 2.5em
  height: 0.9em
  overflow: hidden
  text-indent: $m/2

.book__body
  margin: $m*2 0
  font-size: 1.2em

.book__unpublished
  font-size: .75em
  float: right
  color: rgba(red, .75)

.book__meta-image.lightbox
  position: fixed
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  z-index: 1000
  background: rgba(white, .65)
  text-align: center
  overflow: hidden
  img
    float: none !important
    position: relative
    top: $m*2
    +box-shadow(0 0 10px rgba(black, .75))
    max-height: calc(100vh - #{$m*4})
    width: auto
    &:hover
      cursor: se-resize !important

.book__meta-excerpts-item .curate-link
  margin-top: $m/3
.book__meta-excerpts-item
  margin-bottom: $m/3 !important
.book__meta-excerpts-item .edit-link
  float: right
