// Events page

.events-view__title
  margin: $m/4 0 0

.events-view__subtitle
  margin: 0
  color: #333

.events-view__date
  margin: $m/2 0 $m/4
  text-transform: uppercase
  font-family: $font_auxiliar
  font-size: .8em

.events-view__item
  margin-bottom: $m
  +links(#118cb0, $color_text, .25s ease)
  &::before
    content: "—"
    display: block
  &:first-child:before
    display: none

.events-view__item.past
  opacity: .5

.events-view__address
  margin-bottom: 0 !important

.events-view__link p
  margin-bottom: 0 !important
  font-style: italic

.events-view__links-title
  margin-bottom: $m/4
