.text__date
  margin-top: $m
  margin-bottom: 0 !important
  +date
.text__title
  line-height: 1.2
  font-size: 1.6em
  margin: $m/3 0 0
.text__subtitle
  margin: 0
  font-size: 1.3em
  line-height: 1.1
.text__author-text,
.text__translator-text
  font-family: $font_auxiliar
.text__author-text
  font-size: 1em
  margin: $m/2 0
.text__translator-text
  font-size: .9em
.text__body
  margin-top: $m*2
.text__private
  border: 1px dashed rgba(red, .25)
  padding: $m
  margin: $m*2
.text__private-label
  margin-top: 0
  text-transform: uppercase
  color: rgba(red, .5)
