.text__date
  margin-top: $m
  margin-bottom: 0 !important
  +date
.text__title
  margin: 0 0 $m/2
.text__author-text
  font-family: $font_headers
  font-size: 1.2em
.text__translator-text
  font-family: $font_headers
.text__body
  margin-top: $m
.text__private
  border: 1px dashed rgba(red, .25)
  padding: $m
  margin: $m*2
.text__private-label
  margin-top: 0
  text-transform: uppercase
  color: rgba(red, .5)
