// View of last events in home

.view-lastevents
  background-color: $palette_grey
  color: white
  +links_none

.view-lastevents__link
  padding: 0 $m
  line-height: $m*1.5
  height: $m*1.5
  display: block
  +transition(background-color .2s ease)
  &:hover
    background-color: darken($palette_grey, 10%)

.view-lastevents__title
  display: inline
  margin-

.view-lastevents__items
  display: inline-block
  width: calc(100% - #{$m*9})
  margin-left: $m
  position: relative
  top: -23px

.view-lastevents__item
  position: absolute
  top: 0
  width: 100%

.view-lastevents__item-datetime,
.view-lastevents__item-address
  font-size: .75em
  margin-left: $m/2
  font-family: $font_auxiliar
  text-transform: uppercase
  float: right
  &::before
    content: " | "
    margin-right: $m/3
