// Lists of curated content

.curated-lists__item
  margin-bottom: $m

.curated-lists__item-by
  margin-bottom: 0 !important
  font-family: $font_auxiliar
  color: rgba(black, .75)
  font-size: .75em

.curated-lists__item-name
  margin: $m/4 0 $m/3

.lists-explanation
  font-size: 1.2em
  margin-bottom: $m
.curated-lists__item-length
  float: right
  text-transform: uppercase

.curated-lists h2
  margin-top: $m*1.5
  border-bottom: 1px solid $color_text
