// Auxiliar menu to be shown in footer mainly

.menu-auxiliar--footer__link
  +breakpoint('sm')
    display: inline
  &::before
    content: " / "
    font-family: $font_auxiliar
    color: white
    opacity: .25
  &:first-child::before
    display: none
