// Menu for registered users
// /templates/menus/menu-admin.html

.menu-admin
  background: #fff
  padding: 8px 0 5px

.menu-admin img
  max-width: $m

[class*='menu-admin__link']
  +transition(opacity .2s ease)
  &:hover
    opacity: .5
  display: inline
  margin-right: $m
