// Menu for registered users
// /templates/menus/menu-admin.html

.menu-admin
  float: right
  position: relative
  top: $m/3

.menu-admin img
  max-width: $m

[class*='menu-admin__link']
  +transition(opacity .2s ease)
  &:hover
    opacity: .5
  display: inline
  margin-left: $m
