.book__meta,
.text__meta,
.issue__meta,
.biography__meta,
.blogtext__meta
  float: right
  font-family: $font_headers
  width: $m*10
  margin: $m*2 #{-$m} $m*2 $m*2
  color: rgba($color_text, .7)
  > div,
  > ul,
    padding: $m/2
  > div:not(:last-child),
  > ul:not(:last-child),
    border-bottom: 1px dashed rgba(white, .5)
  > div li,
  > ul li
    margin-bottom: $m/6
  > div h5,
  > ul h5
    margin: 0 0 $m/2
    text-transform: uppercase
    font-size: .8em
    color: rgba($color_text, .5)
  > div:first-child h5,
  > ul:first-child h5
    margin-top: 0
  p
    font-size: .8em
  &:empty
    display: none !important

.book__meta > div,
.book__meta > ul
  background-color: $palette_orange
.blogtext__meta > div
  background-color: #f5f5f5
  +links(#333, #222, .2s ease)

.blogtext__meta-translations
  a
    font-weight: bold

.book__meta,
.text__meta,
.issue__meta,
.biography__meta
  +links(white, white, none)
  a
    &:hover
      background-color: rgba(black, .05)

.text__meta,
.issue__meta,
.biography__meta
  background-color: $palette_blue

.issue__meta-links
  p
    font-size: 1.1em
    font-weight: bold
    margin-bottom: 0 !important

.biography__meta-book-list
  border-bottom: 1px solid rgba(white, .25)
  padding-top: $m/2
.biography__meta-book-list:last-child
  border-bottom: 0

[class*='__meta-']
  font-size: .85em
.book__meta > div.book__meta-image
  padding: 0
  margin-bottom: 2px
  +clearfix
  img
    float: left
    +transition(opacity .2s ease)
    &:hover
      cursor: nwse-resize
      opacity: .75
.book__meta .filesize
  font-size: .9em
  font-family: $font_auxiliar

.book__meta-link
  color: rgba(black, .25)
  font-size: 1em
