.book__meta,
.excerpt__meta,
.text__meta,
.issue__meta,
.biography__meta,
.blogtext__meta,
.static-page__meta
  float: right
  font-family: $font_headers
  font-size: .9em
  width: $m*10
  margin: $m #{-$m} $m*2 $m*2
  color: rgba($color_text, .85)
  > div,
  > ul,
    padding: $m/2
  > div:not(:last-child),
  > ul:not(:last-child),
    border-bottom: 4px solid white
  > div li,
  > ul li
    margin-bottom: $m/6
  > div h5,
  > ul h5
    margin: 0 0 $m/4
    text-transform: uppercase
    font-size: .8em
    color: rgba($color_text, .85)
    border-bottom: 1px solid rgba(white, .75)
  > div:first-child h5,
  > ul:first-child h5
    margin-top: 0
  &:empty
    display: none !important
  li > p
    margin-bottom: 0 !important
  li > p + p
    font-size: .85em
    line-height: 1.1
    font-family: $font_auxiliar

.biography__meta
  width: 50%
.biography__meta-journals > ul
  border-bottom: 2px solid white
  &:last-child
    border: 0

.book__meta > div,
.book__meta > ul,
.excerpt__meta > div,
.excerpt__meta > ul,
.static-page__meta > div,
.static-page__meta > ul
  background-color: $palette_orange
.blogtext__meta > div,
  background-color: #9a9b9d
  +links(white, #ddd, .2s ease)

.events__links-title
  margin-top: 0

.book__meta,
.excerpt__meta,
.text__meta,
.issue__meta,
.biography__meta,
.static-page__meta > div
  +links(white, white, none)
  a
    &:hover
      background-color: rgba(black, .05)

.text__meta,
.issue__meta,
.biography__meta
  background-color: $palette_blue

.issue__meta-links
  p
    font-size: 1.1em
    font-weight: bold
    margin-bottom: 0 !important

.biography__meta-book-list
  border-bottom: 1px solid rgba(white, .25)
  padding-top: $m/2
.biography__meta-book-list:last-child
  border-bottom: 0

.book__meta > div.book__meta-image
  padding: 0
  margin-bottom: 2px
  +clearfix
  img
    float: left
    +transition(opacity .2s ease)
    &:hover
      cursor: nwse-resize
      opacity: .75
.book__meta .filesize
  font-size: .9em
  font-family: $font_auxiliar

.book__meta-link
  color: rgba(black, .25)
  font-size: 1em

.biography__meta-journals .issue
  border-bottom: 1px solid rgba(black, .25)
  margin-bottom: $m/2
  &:last-child
    border: 0

.excerpt__meta-src
  +links_none
  a
    font-size: .7em
    text-transform: uppercase
    font-family: $font_auxiliar
    margin-top: $m/2
    border-bottom: 1px dotted $color_text
.book__meta
  margin-top: 0
