// registration blocks

.simpleform
  max-width: 480px
  position: relative

.simpleform [class*='__instructions']
  font-size: 1.15em
  margin: $m

.simpleform [class*='__links']
  font-size: 1.15em
  margin-top: $m

.simpleform [class*='__title']
  margin-top: 0

.simpleform label
  font-family: $font_headers
  display: block
  text-transform: uppercase
  font-size: .8em
  margin-bottom: $m/4

.simpleform .helptext
  font-style: italic
  display: block
  line-height: 1.1
  margin-top: $m/4

.simpleform input[type=submit]
  margin-top: $m*1.5
  text-transform: uppercase
  font-size: .85em
  letter-spacing: 1px
  font-family: $font_auxiliar
  font-weight: bold
  +button_box

.simpleform .errorlist
  color: $color_danger
  font-weight: bold
  & + p
    background-color: rgba($color_danger, .25)
    padding: $m

.form__cancel--remove-item
  margin-top: $m

.simpleform__buttons
  color: $color_text !important
  font-family: $font_auxiliar
  font-size: .8em
  position: absolute
  right: 0
  bottom: 0
  +links_none

.simpleform__buttons > li
  display: inline-block

.simpleform__buttons button,
.simpleform__buttons a
  +button_box_light
  line-height: 40px
.simpleform__buttons a
  display: block
.hints
  margin-top: $m
  padding: $m
  font-size: 1.15em
