.view-lastjournal
  color: $palette_blue

.view-lastjournal__header
  background-color: $palette_grey
  font-size: 2.5em
  height: .9em
  top: $m/8

.view-lastjournal__publish-info
  margin-top: $m/2
  margin-bottom: 0 !important
  +date

.view-lastjournal__title
  margin: 0 0 $m/2

.view-lastjournal__body
  +clearfix
  background-color: $palette_blue
  +links(white, $palette_grey, .25s ease)
  padding: 0 $m

.view-lastjournal__issue-title
  position: absolute
  z-index: 0
  max-width: 100%
  overflow: hidden
  white-space: nowrap
