.view-lastbooks
  background-color: $palette_orange
  position: relative
  +links(rgba($color_text, .85), rgba($color_text, .5), .25s ease)
  +clearfix

.view-lastbooks__item
  display: inline-block
  width: 33.3%
  float: left
  text-overflow: ellipsis

.view-lastbooks__item-header
  background-color: $palette_grey
  color: $palette_orange
  font-size: 2.25em
  height: 0.9em
  white-space: nowrap
  overflow: hidden
  margin-bottom: $m/3 !important

.view-lastbooks__item-title
  line-height: 1.2
  font-size: .9em

.view-lastbooks__item-body
  font-family: $font_headers
  padding: 0 $m/2

.view-lastbooks__item-summary
  font-family: $font_auxiliar
  font-size: .75em
  line-height: 1.1
  padding: 0
  margin-bottom: $m/3 !important

.view-lastbooks__item-image
  max-width: 50%
  float: right
  padding: $m/3
