{% load utils i18n %}

<li class="curated-content__item">
    <p class="curated-content__item-type">
    {% if item|verbose_name != 'Essay' %}
        {{ item|verbose_name }}
    {% else %}
        {% trans 'Essay from the book ' %} <em>{{ item.source_text.title }}</em>
        {% if item.pages %}(pp. {{ item.pages}}){% endif %}
    {% endif %}
    </p>
    <h4 class="curated-content__item-title">
        {% if item.get_absolute_url %}
        <a href="{{ item.get_absolute_url }}">
            {{ item.title }}
        </a>
        {% else %}
            {{ item.title }}
        {% endif %}
    </h4>
    {% if item.subtitle %}
    <h5 class="curated-content__item-subtitle">
        {{ item.subtitle }}
    </h5>
    {% endif %}
    <p class="curated-content__item-meta">
        <span class="author">
        {% if item.author_text %}{{ item.author_text }} {% endif %}
        </span>
        <span class="date">
        {% if item.date %}{{ item.date|date:"d m y" }}{% endif %}
        </span>
    </p>
</li>
