{% load i18n %}

<li class="curated-lists__item">
    <h4 class="curated-lists__item-name">
        <a href="{{ list.get_absolute_url }}">
            {{ list.name }}
        </a>
    </h4>
    <div class="curated-lists__item-description">
        {% if list.body %}
        {{ list.body | safe }}
        {% else %}
        <p>The list owner hasn't provided any description of this list yet.</p>
        {% endif %}
    <div>
    <p class="curated-lists__item-by">
        <span class="author">
            List curated by {{ list.user.username }}.
        </span>
        <span class="date">
            Created on {{ list.date|date:'d m y' }}
        </span>
        {% with list.get_length as len %}
        <small class="curated-lists__item-length">
            {% trans 'Contains' %} {{ len }} {% trans 'text' %}{{ len|pluralize }}
        </small>
        {% endwith %}
    </p>
</li>
