{# Registration form #}

{% extends 'layouts/single-fixed-column.html' %}
{% load i18n %}
{% block body_classes %}password-reset{% endblock %}
{% block page_html_title %}Reset your password{% endblock %}

{% block main %}
<div class="register-form simpleform">
    <h2 class="register-form__title">
        Password reset
    </h2>
    <div class="register-form__instructions">
      Introduce the new password. Do it twice to check
      there're no typos.
    </div>
    <form class="register-form__form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="register-form__form-submit" value="Update my password"></input>
    </form>
</div>
{% endblock %}
