{# Password reset complete page #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n %}
{% block body_classes %}password-reset-complete-page{% endblock %}
{% block page_html_title %}Password changed{% endblock %}

{% block main %}
<div class="password-reset">
    <h2 class="password-reset__title">
        You've changed your password
    </h2>
    <div class="password-reset__text">
        <p>✔ You've updated your password with success.</p>
        <p>Now you can log in with your new password.</p>
        <p><a href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endblock %}
