{# Password reset form page #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n utils %}
{% block body_classes %}password-reset-page{% endblock %}
{% block page_html_title %}Password reset{% endblock %}

{% block main %}
<nav class="links">
    {% fake_breadcrumb %}
</nav>
<div class="password-reset-form simpleform">
    <h2 class="password-reset-form__title">
        Password reset
    </h2>
    <div class="password-reset-form__instructions">
        Input your email and you'll receive instructions to reset your password.
    </div>
    <form class="password-reset-form__form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="password-reset-form__form-submit" value="Submit"></input>
        {% if request.user.is_anonymous %}
        <ul class="password-reset-form__links">
            <li>
                <a href="{% url 'login' %}">
                    Go back to login
                </a>
            </li>
        </ul>
        {% endif %}
    </form>
</div>
{% endblock %}
