<nav class="menu-auxiliar{% if modifier %}--{{ modifier }}{% endif %}">
    <ul>
        <li class="menu-auxiliar{% if modifier %}--{{ modifier }}{% endif %}__link">
              <a href="/">transversal.at</a>
        </li>
        <li class="menu-auxiliar{% if modifier %}--{{ modifier }}{% endif %}__link">
              <a href="{% url 'static_page' 'impressum' %}">impressum</a>
        </li>
        <li class="menu-auxiliar{% if modifier %}--{{ modifier }}{% endif %}__link">
              <a href="{% url 'contact_form' %}">contact</a>
        </li>
        <li class="menu-auxiliar{% if modifier %}--{{ modifier }}{% endif %}__link">
              <a href="{% url 'admin:login' %}">admin</a>
        </li>
    </ul>
</nav>
