<nav class="menu-auxiliar{% if modifier %}--{{ modifier }}{% endif %}">
    <ul>
        <li class="menu-auxiliar{% if modifier %}--{{ modifier }}{% endif %}__link">
              <a href="/">transversal.at</a>
        </li>
        <li class="menu-auxiliar{% if modifier %}--{{ modifier }}{% endif %}__link">
              <a href="{% url 'static_page' 'impressum' %}">impressum</a>
        </li>
        <li class="menu-auxiliar{% if modifier %}--{{ modifier }}{% endif %}__link">
              <a href="{% url 'static_page' 'contact' %}">contact</a>
        </li>
        <li class="menu-auxiliar{% if modifier %}--{{ modifier }}{% endif %}__link">
              <a href="{% url 'login' %}">login{% if registration_open %}/signup{% endif %}</a>
        </li>
    </ul>
</nav>
