{# Frontpage #} {% extends 'layouts/single-fixed-column.html' %}
{% block body_classes %}front{% endblock %}
{% block page_html_title %}transversal.at{% endblock %}

{% block main %}
    <div class="view-lastjournal">
        <ul class="view-lastjournal__header fadein">
            {% for text in last_issue.texts.all %}
                <li class="view-lastjournal__issue-title fadein__item">
                    {{ text.title }}
                </li>
            {% endfor %}
        </ul>
        <div class="view-lastjournal__body">
            <a href="{% url 'journal_issue' last_issue.slug %}">
                <p class="view-lastjournal__publish-info">
                    {% if not last_issue.is_published %}
                    <span class="view-lastjournal__unpublished">
                        <strong>Not public</strong> ·
                    </span>
                    {% endif %}
                    <span class="view-lastjournal__date">
                        {{ last_issue.date | date:"m Y" }}
                    </span>
                </p>
                <h4 class="view-lastjournal__title">
                    {{ last_issue.title }}
                </h4>
            </a>
        </div>
    </div>
    <div class="view-lastbooks">
        {% for book in last_books %}
        {% if book.external_url and book.use_external_url %}
        <a href="{{ book.external_url }}" target="_blank">
        {% else %}
        <a href="{% url 'book_text' book.slug %}">
        {% endif %}
        <div class="view-lastbooks__item">
            <p class="view-lastbooks__item-header">
                {{ book.title }}
            </p>
            <div class="view-lastbooks__item-body">
                <figure class="view-lastbooks__item-image">
                    <img src="{{ book.image.first.image_file.url }}" />
                </figure>
                {% if not book.is_published %}
                <p class="view-lastbooks__item-unpublished">
                    <strong>Not public</strong> ·
                </p>
                {% endif %}
                <div class="view-lastbooks__item-title">
                    {{ book.title }}
                </div>
                <p class="view-lastbooks__item-summary">
                    {% if book.featured_text %}
                    {{ book.featured_text }}
                    {% else %}
                    {{ book.author_text }}
                    {% endif %}
                </p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
    <div class="blog-view">
    {% for post in blogposts %}
        <div class="blog-view__item {% if not post.is_published %}unpublished{% endif %}">
            <div class="blog-view__titles">
                {% for translation in post.translations.all %}
                    <h4 class="blog-view__title">
                        <a href="/blog/{{ translation.slug }}">
                            {{ translation.title }}
                        </a>
                    </h4>
                {% endfor %}
                <h4 class="blog-view__title">
                    <a href="/blog/{{ post.slug }}">
                        {{ post.title }}
                    </a>
                </h4>
                {% if post.subtitle %}
                <h5 class="blog-view__subtitle">
                    {{ post.subtitle }}
                </h5>
                {% endif %}
            </div>
            <p class="blog-view__teaser">
                {{ post.teaser | safe }}
            </p>
            <p class="blog-view__meta">
                {% if post.author_text %}
                <span class="blog-view__author">{{ post.author_text }}</span>
                {% endif %}
                <span class="blog-view__date">{{ post.date | date:"d m y" }}</span>
            </p>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block page_scripts %}
{% endblock %}
