{# Frontpage #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n %}
{% block body_classes %}front{% endblock %}
{% block page_html_title %}transversal.at{% endblock %}

{% block main %}
    <div class="view-lastjournal">
        <ul class="view-lastjournal__header fadein">
            {% for text in last_issue.texts.all %}
                <li class="view-lastjournal__issue-title fadein__item">
                    {{ text.title }}
                </li>
            {% endfor %}
        </ul>
        <div class="view-lastjournal__body">
            <a href="{% url 'journal_issue' last_issue.slug %}">
                <p class="view-lastjournal__publish-info">
                    <span class="view-lastjournal__date">
                        {{ last_issue.date | date:"m Y" }}
                    </span>
                </p>
                <ul class="view-lastjournal__titles fadein">
                    <li class="view-lastjournal__title fadein__item">
                        {{ last_issue.title }}
                    </li>
                    {% for text in last_issue.titles.all %}
                    <li class="view-lastjournal__title fadein__item">
                        {{ text }}
                    </li>
                    {% endfor %}
                </ul>
            </a>
        </div>
    </div>
    <div class="view-lastbooks">
        {% for book in last_books %}
        {% if book.external_url and book.use_external_url %}
        <a href="{{ book.external_url }}" target="_blank">
        {% else %}
        <a href="{% url 'book_text' book.slug %}">
        {% endif %}
        <div class="view-lastbooks__item">
            <p class="view-lastbooks__item-header">
                {{ book.title }}
            </p>
            <div class="view-lastbooks__item-body">
                <figure class="view-lastbooks__item-image">
                    <img src="{{ book.image.first.thumbnail.url }}" />
                </figure>
                {% if not book.is_published %}
                <p class="view-lastbooks__item-unpublished">
                    <strong>Not public</strong> ·
                </p>
                {% endif %}
                <div class="view-lastbooks__item-title">
                    {{ book.title }}
                </div>
                <p class="view-lastbooks__item-summary">
                    {% if book.featured_text %}
                    {{ book.featured_text }}
                    {% else %}
                    {{ book.author_text }}
                    {% endif %}
                </p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
    {% if last_events|length > 0 %}
    <div class="view-lastevents">
    <a class="view-lastevents__link" href="{% url 'events' %}" title="{% trans 'See last events' %}">
        <h5 class="view-lastevents__title">
            {% trans 'Calendar' %}
        </h5>
        <ul class="view-lastevents__items fadein">
            {% for event in last_events %}
                <li class="view-lastevents__item fadein__item">
                    <span class="view-lastevents__item-title">
                        {{ event.title }}
                    </span>
                    <span class="view-lastevents__item-datetime">
                        {{ event.datetime.date }}
                    </span>
                    <span class="view-lastevents__item-address">
                      {{ event.city }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </a>
    </div>
    {% endif %}
    <div class="blog-view">
    {% for post in blogposts %}
        <div class="blog-view__item {% if not post.is_published %}unpublished{% endif %}">
            <div class="blog-view__titles">
                {% if post.fake_issues|length > 0 %}
                <ul class="blog-view__tags">
                    {% for tag in post.fake_issues %}
                        <li class="blog-view__tag">
                            <a href="{% url 'tags' tag.slug %}">#{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h4 class="blog-view__title">
                    <a href="/blog/{{ post.slug }}">
                        {{ post.title }}
                    </a>
                </h4>
                {% for translation in post.translations.all %}
                    <h4 class="blog-view__title">
                        <a href="/blog/{{ translation.slug }}">
                            {{ translation.title }}
                        </a>
                    </h4>
                {% endfor %}
                {% if post.subtitle %}
                <h5 class="blog-view__subtitle">
                    {{ post.subtitle | safe }}
                </h5>
                {% endif %}
            </div>
            <div class="blog-view__teaser">
                {{ post.teaser | safe }}
            </div>
            <div class="blog-view__meta">
                {% if post.author_text %}
                <span class="blog-view__author">{{ post.author_text }}</span>
                {% endif %}
                <span class="blog-view__date">{{ post.date | date:"d m y" }}</span>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block page_scripts %}
{% endblock %}
