// Footer section of the site
// regions/footer.html

.region-footer
  font-family: $font_headers
  +links_footer

.region-footer .container-fixed
  background-color: #4a4b4d
  padding: $m

.logged-in
  &.blogtext,
  &.book-page,
  &.journal-text
    .region-footer
      margin-bottom: $m*3
