// Header section of the site
// regions/header.html

.region-header .container-fixed
  background-color: $palette_grey
  padding-top: $m
  border-bottom: 3px solid white
  height: 180px

.journal-issues,
.journaltext-page
  .region-header .container-fixed
    border-color: $palette_blue

.books .region-header .container-fixed
  border-color: $palette_orange

.book-page .region-header .container-fixed
  border-bottom: 3px solid $palette_orange
