// Styles of the main container of the site

.layout-main
  background: white
  +clearfix
  +links(darken($palette_blue, 15%), $palette_blue, .2s ease)

.blog-page,
.journal-text,
.static-page,
.journal-issue,
.journalissue-details,
.user-curated-content,
.event-page,
.curated-lists,
.signup-page,
.signup-complete-page,
.activation-complete-page,
.login-page,
.password-reset-page,
.password-reset-done-page,
.password-reset-complete-page,
.padding
  .layout-main
    padding: $m/2
    +breakpoint('sm')
      padding: $m

.region-content
  .layout-main
    font-size: 1.1rem
    p
      margin-bottom: $m/2

.logged-in
  &.blogtext,
  &.journal-text,
  &.book-page,
    .region-footer
      margin-bottom: $m*2

[class*='page__left--'],
[class*='page__right--']
  +breakpoint('sm')
    width: 50%
    display: inline-block
[class*='page__left--']
  .page__title
    margin-top: 0
  +breakpoint('sm')
    float: left
    padding-right: $m
[class*='page__right--']
  +breakpoint('sm')
    padding-left: $m
