{# User profile #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n utils %}
{% block body_classes %}page--contact padding{% endblock %}
{% block page_html_title %}Contact{% endblock %}

{% block main %}
    <nav class="links">
      {% fake_breadcrumb %}
    </nav>
    <h1 class="page__title">
        Contact {{ recipient }}
    </h1>
    <div class="page__left--additem">
        <form class="contact-form simpleform" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="contact-form__submit" value="Submit"></input>
          {% include 'blocks/simpleform-buttons.html' %}
        </form>
    </div>
    <div class="page__right--additem">
        <div class="page__content simpleform">
          <div class="hints">
              You can use this form to send an email to another user of transversal.at
          </div>
        </div>
    </div>
{% endblock %}
