{% load i18n %}

<ul class="slideshow-header fadein">
    <li class="slideshow-header__item fadein__item active">
        {% blocktrans trimmed %}
        <p>transversal texts es sitio de producción y plataforma al mismo tiempo,<br/>
        territorio y corriente de publicación −<br/>
        el medio de un devenir que nunca querrá convertirse en una editorial.</p>
        {% endblocktrans %}
    </li>
    <li class="slideshow-header__item fadein__item">
        {% blocktrans trimmed %}
        <p>transversal texts is production site and platform at once,<br/>
        territory and stream of publication −<br/>
        the middle of a becoming that never wants to become a publishing company.</p>
        {% endblocktrans %}
    </li>
    <li class="slideshow-header__item fadein__item">
        {% blocktrans trimmed %}
        <p>transversal texts ist Produktionsort und Plattform zugleich,<br/>
        Territorium und Strom der Veröffentlichung −<br/>
        die Mitte eines Werdens, das niemals zum Verlag werden will.</p>
        {% endblocktrans %}
    </li>
</ul>
