{% load i18n %}

<ul class="slideshow-header fadein">
    <li class="slideshow-header__item fadein__item active">
        {% blocktrans trimmed %}
        <span>transversal texts es sitio de producción y plataforma al mismo tiempo,</span><br/>
        <span>territorio y corriente de publicación −</span><br/>
        <span>el medio de un devenir que nunca querrá convertirse en una editorial.</span>
        {% endblocktrans %}
    </li>
    <li class="slideshow-header__item fadein__item">
        {% blocktrans trimmed %}
        <span>transversal texts is production site and platform at once,</span><br/>
        <span>territory and stream of publication −</span><br/>
        <span>the middle of a becoming that never wants to become a publishing company.</span>
        {% endblocktrans %}
    </li>
    <li class="slideshow-header__item fadein__item">
        {% blocktrans trimmed %}
        <span>transversal texts ist Produktionsort und Plattform zugleich,</span><br/>
        <span>Territorium und Strom der Veröffentlichung −</span><br/>
        <span>die Mitte eines Werdens, das niemals zum Verlag werden will.</span>
        {% endblocktrans %}
    </li>
</ul>
