{# button to allow users to add or remove items to their profile #}
{% load utils i18n %}

{% if request.user.is_authenticated %}
<div class="curate-widget--{{ modifier }}">
    {% if obj|is_curated:request.user %}
    <button id="curate-button" class="curate-widget__button-remove--{{ modifier }}"
            data-contenttype="{{ obj|contenttype }}" data-pk="{{ obj.pk }}" data-action="remove">
        {% trans 'Remove this item from your list of curated content' %}
    </button>
    {% else %}
    <button id="curate-button" class="curate-widget__button-add--{{ modifier }}"
            data-contenttype="{{ obj|contenttype }}" data-pk="{{ obj.pk }}" data-action="add">
        {% trans 'Add this item to your list of curated content' %}
    </button>
    {% endif %}
</div>
{% endif %}
