{# Biography detail #}
{% extends 'layouts/single-fixed-column.html' %}
{% load utils i18n %}
{% block body_classes %}author{% endblock %}
{% block page_html_title %}{{ object.fullname }}{% endblock %}

{% block main %}
<div class="biography-wrapper">
    <nav class="links">
      {% fake_breadcrumb %}
      {% if request.user.is_staff %}
      <div class="links__staff">
          <a href="{% url 'admin:models_biography_change' object.id %}">
              {% trans 'Edit this biography' %}
          </a>
      </div>
      {% endif %}
    </nav>
    <h1 class="biography__name">
        {{ object.fullname }}
    </h1>
    <div class="biography__meta">
        {% if object.texts_created.all|length > 0 %}
        <div class="biography__meta-journals">
            <h5>{% trans 'Journal' %}</h5>
            {% for group in journal_text_groups %}
            <ul>
                {% for text in group %}
                <li {% rtl text.language %}>
                    <a href="{{ text.get_absolute_url }}">
                        {{ text.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        {% if object.books_written.all|length > 0 %}
        <div class="biography__meta-books">
            <h5>{% trans 'Publications' %}</h5>
            <ul>
                {% for text in object.books_written.all|order_by:"-date" %}
                <li>
                    <p><a href="/books/{{ text.slug }}">{{ text.title }}</a></p>
                    <p>{{ text.author_text | safe }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if links_publications|length > 0 %}
        <div class="biography__meta-books-external">
            <h5>{% trans 'Publications [external sites]' %}</h5>
            <ul>
                {% for link in links_publications.all %}
                <li>
                    <p><a href="{{ link.url }}">{{ link.title }}</a></p>
                    {% if link.description %}
                      <p>{{ link.description }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if object.blogposts_written.all|length > 0 %}
        <div class="biography__meta-books">
            <h5>{% trans 'Documents' %}</h5>
            <ul>
                {% for text in object.blogposts_written.all|order_by:"-date" %}
                <li class="biography__meta-book-list">
                    <ul>
                        <li>
                            <p><a href="{% url 'blog_text' text.slug %}">{{ text.title }}</a></p>
                            <p>{{ text.date | date:"m Y" }}</p>
                        </li>
                        {% for translation in text.translations.all %}
                        <li>
                            <p><a href="{% url 'blog_text' translation.slug %}">{{ translation.title }}</a></p>
                            <p>{{ text.date | date:"m Y" }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if links_documents|length > 0 %}
        <div class="biography__meta-documents-external">
            <h5>{% trans 'Documents [external sites]' %}</h5>
            <ul>
                {% for link in links_documents %}
                <li>
                    <p><a href="{{ link.url }}">{{ link.title }}</a></p>
                    {% if link.description %}
                      <p>{{ link.description }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if translations|length > 0 %}
        <div class="biography__meta-journals">
            <h5>{% trans 'Translations' %}</h5>
            <ul>
            {% for text in translations %}
                <li>
                    <p {% rtl text.language %}>
                        <a href="{{ text.get_absolute_url }}">
                            {{ text.title }}
                        </a>
                    </p>
                    <p>
                        {% if text.author_text %}
                        {{ text.author_text}}
                        {% else %}
                        Blog
                        {% endif %}
                    </p>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if links_translations|length > 0 %}
        <div class="biography__meta-translation-external">
            <h5>{% trans 'Translations [external sites]' %}</h5>
            <ul>
                {% for link in links_translations %}
                <li>
                    <p><a href="{{ link.url }}">{{ link.title }}</a></p>
                    {% if link.description %}
                      <p>{{ link.description }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if links_default|length > 0 %}
        <div class="biography__meta-links">
            <h5>{% trans 'Links' %}</h5>
            <ul>
            {% for link in links_default %}
            <li>
                <p><a href="{{ link.url }}" target="_blank">
                    {{ link.title }}
                </a></p>
                {% if link.description %}
                  <p>{{ link.description }}</p>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {% if object.email %}
    <div class="biography__email">
        <a href="mailto:{{ object.email }}">{{ object.email }}</a>
    </div>
    {% endif %}
    <div class="biography__body">
    {% if object.description %}
        {{ object.description | safe }}
    {% endif %}
    </div>
</div>
{% endblock %}
