{# Frontpage #} {% extends 'layouts/single-fixed-column.html' %}
{% block body_classes %}blog-page{% endblock %}
{% block page_html_title %}Blog{% endblock %}

{% block main %}
    {% include 'blocks/pager.html' with item_name='posts' %}
    {% for post in object_list %}
        <div class="blog-view__item">
            <div class="blog-view__titles">
                {% for translation in post.translations.all %}
                    <h5 class="blog-view__title">
                        <a href="/blog/{{ translation.slug }}">
                            <span class="language">{{ translation.language }}</span> {{ translation.title }}
                        </a>
                    </h5>
                {% endfor %}
                <h4 class="blog-view__title">
                    <a href="/blog/{{ post.slug }}">
                        {{ post.title }}
                    </a>
                </h4>
            </div>
            <p class="blog-view__teaser">
                {{ post.teaser | safe }}
            </p>
            <p class="blog-view__meta">
                <span class="blog-view__author">{{ post.author_text }}</span>
                <span class="blog-view__date">{{ post.date | date:"d m y" }}</span>
            </p>
        </div>
    {% endfor %}
    {% include 'blocks/pager.html' with item_name='posts' %}
{% endblock %}

{% block page_scripts %}
{% endblock %}
