{# BlogText lists #}
{% extends 'layouts/single-fixed-column.html' %}
{% load utils %}
{% block body_classes %}blog-page{% endblock %}
{% block page_html_title %}Blog{% endblock %}

{% block main %}
    {% include 'blocks/pager.html' with item_name='posts' %}
    <div class="blog-view">
    {% for post in object_list %}
        <div class="blog-view__item {% if not post.is_published %}unpublished{% endif %}">
            <div class="blog-view__titles">
                <h4 class="blog-view__title" {% rtl post.language %}>
                    <a href="/blog/{{ post.slug }}">
                        {{ post.title }}
                    </a>
                </h4>
                {% for translation in post.translations.all %}
                    <h4 class="blog-view__title" {% rtl translation.language %}>
                        <a href="/blog/{{ translation.slug }}">
                            {{ translation.title }}
                        </a>
                    </h4>
                {% endfor %}
                {% if post.subtitle %}
                <h5 class="blog-view__subtitle">
                    {{ post.subtitle }}
                </h5>
                {% endif %}
            </div>
            <div class="blog-view__teaser" {% rtl post.language %}>
                {{ post.teaser | safe }}
            </div>
            <div class="blog-view__meta">
                {% if post.author_text %}<span class="blog-view__author">{{ post.author_text }}</span>{% endif %}
                <span class="blog-view__date">{{ post.date | date:"d m y" }}</span>
                {% if post.tags.all|length > 0 %}
                <ul class="blog-view__tags">
                    {% for tag in post.tags.all %}
                        <li class="blog-view__tag">
                            <a href="{% url 'tags' tag.slug %}">#{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    {% include 'blocks/pager.html' with item_name='posts' %}
{% endblock %}

{% block page_scripts %}
{% endblock %}
