{# Blog text detail #}
{% extends 'layouts/single-fixed-column.html' %}
{% load static utils i18n %}
{% block body_classes %}blogtext{% endblock %}
{% block page_html_title %}transversal.at{% endblock %}

{% block main %}
<div class="blogtext__content" {% if hl %}data-hl="{{ hl }}"{% endif %}>
    <div class="blogtext-wrapper">
        <nav class="links">
          {% fake_breadcrumb %}
          {% if request.user.is_staff %}
          <div class="links__staff">
              {% if not object.source_text %}
              <a href="{% url 'admin:models_blogtext_change' object.id %}">
              {% else %}
              <a href="{% url 'admin:models_blogtexttranslation_change' object.id %}">
              {% endif %}
                  {% trans 'Edit this post' %}
              </a>
          </div>
          {% endif %}
        </nav>
        {% if request.user.is_staff and object.comments %}
        <div class="text__private">
            <h5 class="text__private-label">
                Comments · not public
            </h5>
            {{ object.comments }}
        </div>
        {% endif %}
        <p class="blogtext__publish-info">
            {% if not object.is_published %}
            <span class="blogtext__unpublished">
                <strong>Not public</strong> ·
            </span>
            {% endif %}
            <span class="blogtext__date">
                {% if object.date %}
                {{ object.date | date:"m Y" }}
                {% else %}
                {{ object.source_text.date | date:"m Y" }}
                {% endif %}
            </span>
        </p>
        {% if object.tags.all|length > 0 %}
        <ul class="blogtext__tags">
            {% for tag in object.tags.all|order_by:'category' %}
                <li class="blogtext__tag">
                    <a href="{% url 'tags' tag.slug %}">#{{ tag.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        {# print to pdf link #}
        {% include 'blocks/print.html' with class_modifier='blog' url='blog_text_pdf' id=object.pk %}

        <h1 class="blogtext__title">
            {{ object.get_title }}
        </h1>
        {% if object.subtitle %}
        <h5 class="blogtext__subtitle">
            {{ object.subtitle | safe }}
        </h5>
        {% endif %}
        {% if object.author_text %}
        <p class="blogtext__author">
            {{ object.author_text }}
        </p>
        {% elif object.source_text.author_text %}
        <p class="blogtext__author">
            {{ object.source_text.author_text }}
        </p>
        {% endif %}
        {% if object.translator_text %}
        <p class="blogtext__translator">
            {{ object.translator_text }}
        </p>
        {% endif %}
        {% if object.authors.all|length > 0 or object.source_text.authors.all|length > 0 or object.translators.all|length > 0 or object.translations.all|length %}
        <div class="blogtext__meta">
            {% if object.authors.all|length > 0 or object.source_text.authors.all|length > 0 %}
            <div class="blogtext__meta-authors">
                <h5>{% trans 'authors' %}</h5>
                <ul>
                    {% for author in authors %}
                    <li>
                        <a href="{{ author.get_absolute_url }}">
                            {{ author.fullname }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if object.translators.all|length > 0 %}
            <div class="blogtext__meta-translators">
                <h5>{% trans 'translators' %}</h5>
                <ul>
                    {% for translator in object.translators.all|sort_by:'surname' %}
                    <li>
                        <a href="{{ translator.get_absolute_url }}">{{ translator.fullname }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if object.translations.all|length > 0 or object.source_text %}
            <div class="blogtext__meta-translations">
                <h5>{% trans 'languages' %}</h5>
                <ul class="blogtext__translations-list">
                    {% if object.translations.all|length > 0 %}
                        <li>{{ object.get_language_display }}</li>
                        {% for translation in object.translations.all %}
                            <li>
                                <a href="/blog/{{ translation.slug }}">
                                    {{ translation.get_language_display }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% if object.source_text %}
                        <li>
                            <a href="{{ object.source_text.get_absolute_url }}">
                                {{ object.source_text.get_language_display }}
                            </a>
                        </li>
                        {% for translation in object.source_text.translations.all %}
                        <li>
                            {% if translation.language != object.language %}
                            <a href="{{ translation.get_absolute_url }}">
                                {{ translation.get_language_display }}
                            </a>
                            {% else %}
                                {{ translation.get_language_display }}
                            {% endif %}
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="blogtext__body">
            {{ object.body | safe }}
        </div>
    </div>
    {% include 'blocks/widget-curate.html' with obj=object modifier='page' %}
</div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{% bower 'jquery-highlight/jquery.highlight.js' %}"></script>
{% endblock %}
