{# Book list #}
{% extends 'layouts/single-fixed-column.html' %}
{% load imagekit %}
{% block body_classes %}books{% endblock %}
{% block page_html_title %}Books{% endblock %}

{% block main %}
    {% for book in books %}
    <div class="related-books">
        <ul class="related-books__titles fadein">
            <li class="related-books__title fadein__item">
                {{ book.title }}
            </li>
            {% for related_book in book.book_set.all %}
            <li class="related-books__title fadein__item">
                {{ related_book.title }}
            </li>
            {% endfor %}
        </ul>
        <div class="related-books__wrapper">
        {% include 'blocks/book--list.html' with book=book %}
        {% for related_book in book.book_set.all %}
            {% include 'blocks/book--list.html' with book=related_book %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock %}
