{# Book detail #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n static utils %}
{% block body_classes %}book-page{% endblock %}
{% block page_html_title %}{{ object.title }}{% endblock %}

{% block main %}
<div class="book-page__content" {% if hl %}data-hl="{{ hl }}"{% endif %}>
    <div class="book-header">
        {{ object.title }}
    </div>
    <div class="book-wrapper">
        <nav class="links">
          {% fake_breadcrumb %}
          {% if request.user.is_staff %}
          <div class="links__staff">
              <a href="{% url 'admin:models_book_change' object.id %}">
                  {% trans 'Edit this book' %}
              </a>
          </div>
          {% endif %}
        </nav>
        {% if request.user.is_staff and object.comments %}
        <div class="text__private">
            <h5 class="text__private-label">
                Comments · not public
            </h5>
            {{ object.comments }}
        </div>
        {% endif %}
        {% if not object.is_published or not object.in_listings %}
        <p class="book__unpublished">
            <strong>Not public</strong>
        </p>
        {% endif %}

        <div class="book__meta">
            {% if object.image %}
            <div class="book__meta-image">
                <img src="{{ object.image.first.image_file.url }}" />
            </div>
            {% endif %}
            {% if object.image_foot %}
            <div class="book__meta-image-foot">
                {{ object.image_foot | safe }}
            </div>
            {% endif %}
            {% if object.links.all|length > 0 %}
            <ul class="book__meta-links">
                <h5>
                  links
                </h5>
                {% for link in object.links.all %}
                <li class="book__meta-link">
                    <a href="{{ link.url }}" target="_blank">
                        {{ link.title }}
                    </a>
                    <span class="arrow">→</span>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if object.epub_file %}
            <div class="book__meta-epub">
                <h5>
                    epub
                </h5>
                <a href="{{ object.epub_file.url }}">
                    Download
                </a>
                <span class="filesize">
                    [{{ object.epub_file.url|filesize|filesizeformat }}]
                </span>
            </div>
            {% endif %}
            {% if object.pdf_file %}
            <div class="book__meta-pdf">
                <h5>
                    pdf
                </h5>
                <a href="{{ object.pdf_file.url }}">
                    Download
                </a>
                <span class="filesize">
                    [{{ object.pdf_file.url|filesize|filesizeformat }}]
                </span>
            </div>
            {% if object.downloads_foot %}
            <div class="book__meta-downloads-foot">
                {{ object.downloads_foot | safe }}
            </div>
            {% endif %}
            {% endif %}
            {% if object.links|length > 0 %}
            <div class="book__meta-links">
                <h5>links</h5>
                <ul>
                    {% for link in object.links %}
                        <li>
                            <a href="/bio/{{ author.slug }}">
                                {{ author.fullname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if object.authors.all|length > 0 %}
            <div class="book__meta-biographies">
                <h5>biographies</h5>
                <ul>
                    {% for author in object.authors.all|order_by:"surname" %}
                        <li>
                            <a href="{{ author.get_absolute_url }}">
                                {{ author.fullname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if object.translators.all|length > 0 %}
            <div class="book__meta-biographies">
                <h5>biographies (translation)</h5>
                <ul>
                    {% for translator in object.translators.all|order_by:"surname" %}
                        <li>
                            <a href="{{ translator.get_absolute_url }}">
                                {{ translator.fullname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if object.parent_book or object.book_set.all|length > 0 %}
            <div class="book__meta-biographies">
                <h5>{{ object.title }}</h5>
                <ul>
                    {% if object.parent_book %}
                        <li>
                            <a href="{% url 'book_text' object.parent_book.slug %}">
                                {{ object.parent_book.title }}
                            </a>
                        </li>
                        {% for book in object.parent_book.book_set.all %}
                            {% if book.title != object.title %}
                            <li>
                                <a href="{% url 'book_text' book.slug %}">
                                    {{ book.title }}
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for book in object.book_set.all %}
                            <li>
                                <a href="{% url 'book_text' book.slug %}">
                                    {{ book.title }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            {% if object.attachments.all|length > 0 %}
            <div class="book__meta-attachments">
                <h5>Attachments:</h5>
                <ul class="book__meta-attachments-list">
                {% for attachment in object.attachments.all %}
                    <li class="book__meta-attachments-item">
                        <a href="{{ attachment.attachment_file.url }}" target="_blank">
                            {{ attachment.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if essays|length > 0 %}
            <div class="book__meta-excerpts">
                <h5>Essays:</h5>
                <ul class="book__meta-excerpts-list">
                {% for essay in essays %}
                    <li class="book__meta-excerpts-item">
                        <p>{{ essay.title }}</p>
                        <p>{{ essay.subtitle }}. {% if essay.pages %}[pp. {{ essay.pages }}]{% endif %}</p>
                        {% if not user.is_anonymous %}
                        <p class="curate-link">
                            <a href="{% url 'curated_item_add' %}?type={{ essay|contenttype }}&pk={{ essay.pk }}">
                                ✚ Add/suggest to list
                            </a>
                        </p>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <h1 class="book__title">
            {{ object.title }}
        </h1>
        {% if object.subtitle %}
        <h4 class="book__subtitle">
            {{ object.subtitle }}
        </h4>
        {% endif %}
        {% if object.author_text %}
        <div class="book__author">
            {{ object.author_text }}
        </div>
        {% endif %}
        {% if object.publisher_text %}
        <div class="book__publisher">
            {{ object.publisher_text | safe }}
        </div>
        {% endif %}
        <div class="book__body">
            {{ object.body | safe }}
        </div>
    </div>
    {% include 'blocks/widget-curate.html' %}
</div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{% bower 'jquery-highlight/jquery.highlight.js' %}"></script>
{% endblock %}
