{# Event detail #}
{% extends 'layouts/single-fixed-column.html' %}
{% load static utils i18n %}
{% block body_classes %}event{% endblock %}
{% block page_html_title %}{{ event.title }}{% endblock %}

{% block main %}
<div class="blogtext__content">
    <div class="blogtext-wrapper">
        <nav class="links">
          {% fake_breadcrumb %}
          {% if request.user.is_staff %}
          <div class="links__staff">
              <a href="{% url 'admin:models_event_change' object.id %}">
                  {% trans 'Edit this event' %}
              </a>
          </div>
          {% endif %}
        </nav>
        <h1 class="event__title">
            {{ object.title }}
        </h1>
        {% if object.subtitle %}
        <h5 class="event__subtitle">
            {{ object.subtitle }}
        </h5>
        {% endif %}
        <div class="event__meta">
            {{ object.datetime|date:"d M y [h:m]" }}{% if object.end_date %} – {{ object.end_date|date:"d M y [h:m]" }}{% endif %} ·
            <a href="https://google.es/maps/search/?api=1&query={{ object.address|googlify }}+{{ object.city|googlify }}"
            target="_blank">
                {{ object.address }}{% if object.address and object.city %}, {% endif %}{{ object.city }}
            </a>
        </div>
        <div class="event__body">
            {{ object.body | safe }}
        </div>
    </div>
</div>
{% endblock %}
