{# Event list #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n utils %}
{% block body_classes %}event-page{% endblock %}
{% block page_html_title %}{% trans 'Calendar' %}{% endblock %}

{% block main %}
<nav class="links">
    {% fake_breadcrumb %}
    {% if request.user.is_staff %}
    <div class="links__staff">
        <a href="{% url 'admin:models_event_changelist' %}">
            {% trans 'See all events in admin' %}
        </a>
    </div>
    {% endif %}
</nav>
<h1 class="event-page__title">
    {% trans 'Calendar' %}
</h1>
<div class="events-view">
{% for event in object_list %}
    <div class="events-view__item {% if not event.is_published %}unpublished{% endif %} {% if event.past %}past{% endif %}">
        <h4 class="events-view__title">
            {{ event.title }}
        </h4>
        {% if event.subtitle %}
        <h5 class="events-view__subtitle">
            {{ event.subtitle }}
        </h5>
        {% endif %}
        <p class="events-view__date">
            {{ event.datetime|date:"d M y [h:m]" }}{% if event.end_date %} – {{ event.end_date|date:"d M y [h:m]" }}{% endif %} · {{ event.address }}{% if event.address and event.city %},{% endif %} {{ event.city }}
        </p>
        <div class="events-view__text">
            {% if event.summary %}
            {{ event.summary | safe }}
            {% else %}
            {{ event.body | safe }}
            {% endif %}
            {% if event.extended_info %}
            <span class="events-view__see-more">
                <a href="{{ event.get_absolute_url }}">
                    {% trans 'Read more' %}
                </a>
            </span>
            {% endif %}
        </div>
        {% if event.links.all|length > 0 %}
        <ul class="events-view__links">
            <h6 class="events-view__links-title">
                {% trans 'External links' %}
            </h6>
            {% for link in event.links.all %}
                <li class="events-view__link">
                    <p>{{ link.title }}:
                        <a href="{{ link.url }}" target="_blank">
                            {{ link.url }}
                        </a>
                    </p>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}
