{# Frontpage #} {% extends 'layouts/single-fixed-column.html' %} {% load static utils i18n %}
{% block body_classes %}journal-text{% endblock %}
{% block page_html_title %}{{ object.title }}{% endblock %}

{% block main %}
    <div class="text-wrapper">
        <nav class="links">
          {% fake_breadcrumb %}
          {% if request.user.is_staff %}
          <div class="links__staff">
              <a href="{% url 'admin:models_journaltext_change' object.id %}">
                  {% trans 'Edit this post' %}
              </a>
          </div>
          {% endif %}
        </nav>
        {% if request.user.is_staff and object.comments %}
        <div class="text__private">
            <h5 class="text__private-label">
                Comments · not public
            </h5>
            {{ object.comments }}
        </div>
        {% endif %}
        <p class="text__date">
          {{ object.date | date:"m Y"}}
        </p>
        <h1 class="text__title">
            {{ object.title }}
        </h1>
        {% if object.subtitle %}
        <h2 class="text__subtitle">
            {{ object.subtitle }}
        </h2>
        {% endif %}
        <p class="text__author-text">
            {{ object.author_text | safe }}
        </p>
        {% if object.translator_text %}
        <p class="text__translator-text">
            {{ object.translator_text }}
        </p>
        {% endif %}

        {# meta #}
        <div class="text__meta">
            {% if object.authors.all|length > 0 %}
            <div class="text__meta-authors">
                <h5>{% trans 'Authors' %}</h5>
                <ul>
                    {% for author in object.authors.all %}
                        <li>
                            <a href="{% url 'bio' author.slug %}">
                                {{ author.fullname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if object.translators.all|length > 0 %}
            <div class="text__meta-translators">
                <h5>{% trans 'Translators' %}</h5>
                <ul>
                    {% for author in object.translators.all %}
                        <li>
                            <a href="{% url 'bio' author.slug %}">
                                {{ author.fullname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if object.translations.all|length > 0 %}
            <div class="text__meta-languages">
                <h5>{% trans 'languages' %}</h5>
                <ul>
                    <li>{{ object.get_language_display }}</li>
                    {% for text in object.translations.all %}
                        <li>
                            <a href="{% url 'journal_text' text.issue.slug text.slug text.language %}">
                                {{ text.get_language_display }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="text__meta-issue">
                <h5>{% trans 'journal' %}</h5>
                <a href="{% url 'journal_issue' object.issue.slug %}">
                    {{ object.issue.title }}
                </a>
            </div>
        </div>

        <p class="text__body">
          {{ object.body | safe }}
        </p>

          {% include 'blocks/widget-curate.html' with obj=object modifier='page' %}
    </div>
{% endblock %}

{% block page_scripts %}
{% endblock %}
