{# Frontpage #} {% extends 'layouts/single-fixed-column.html' %} {% load i18n %}
{% block body_classes %}journal-issues{% endblock %}
{% block page_html_title %}transversal{% endblock %}

{% block main %}
    {% for object in object_list %}
        {% if object.is_published != 'i' or request.user.is_staff %}
        <div class="issue-header">
            <ul class="fadein">
                {% for text in object.texts.all %}
                    <li class="fadein__item">
                        {{ text.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="issue-wrapper--list">
            {% if request.user.is_staff %}
            <div class="links__staff">
                <a href="{% url 'admin:models_journalissue_change' object.id %}">
                    {% trans 'Edit this issue' %}
                </a>
            </div>
            {% endif %}
            {% if object.is_published != 'v' or request.user.is_staff %}
            <div class="issue__date">
                {{ object.date | date:"m Y" }}
            </div>
            {% endif %}
            <h4 class="issue__title">
                {% if object.is_published != 'v' or request.user.is_staff %}
                <a href="{% url 'journal_issue' object.date_id %}">
                    {{ object.title }}
                </a>
                {% else %}
                    <em>incoming</em> {{ object.title }}
                {% endif %}
            </h4>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block page_scripts %}
{% endblock %}
