{# Frontpage #} {% extends 'layouts/single-fixed-column.html' %} {% load static utils i18n %}
{% block body_classes %}static-page{% endblock %}
{% block page_html_title %}{{ object.title }}{% endblock %}

{% block main %}
    <div class="static-page-wrapper">
        <nav class="links">
          {% fake_breadcrumb %}
          {% if request.user.is_staff %}
          <div class="links__staff">
              <a href="{% url 'admin:models_page_change' object.id %}">
                  {% trans 'Edit this page' %}
              </a>
          </div>
          {% endif %}
        </nav>
        <h1 class="static-page__title">
            {{ object.title }}
        </h1>
        {% if object.parent_book %}
        <div class="static-page__meta">
            <div class="static-page__meta-book">
                <a href="{{ object.parent_book.get_absolute_url }}">
                {{ object.parent_book.title }}
                </a>
            </div>
            {% if object.parent_book.authors.all|length > 0 %}
            <div class="static-page__meta-biographies">
                <h5>biographies</h5>
                <ul>
                    {% for author in object.parent_book.authors.all|order_by:"surname" %}
                        <li>
                            <a href="{{ author.get_absolute_url }}">
                                {{ author.fullname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="static-page__body">
            {{ object.content | safe }}
        </div>
    </div>
{% endblock %}
